@charset "utf-8";
/* CSS Document */
 
html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    line-height: 1.6;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	background-color: #f7f7f7;
	overflow: hidden;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}
 
/*侧边栏选择器*/
.sidenav {
    height: 100%;
    width: 300px; 
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s; 
    padding-top: 60px;
}

.sidenav img {
	width: 220px;
    padding: 8px 8px 64px 32px;
    transition: 0.3s;
}

.sidenav p {
	min-width: 200px;
    position: absolute;
    top: 630px;
	margin-left: 32px;
    text-decoration: none;
	font-size: 12px;
    color: #fff;
    display: block;
	transition: all 0.3s ease-in-out;
}

.sidenav a {
	min-width: 100px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: all 0.3s ease-in-out;
}
 
.sidenav a:hover,.sidenav a:focus, .offcanvas a:focus{
    color: #f1f1f1;
}
 
.sidenav .closebtn {
    position: absolute;
    top: 500px;
    right: -40px;
    font-size: 64px;
    margin-left: 50px;
}

.link {
    position: absolute;
    top: 600px;
	margin-left: 32px;
    display: block;
	transition: 0.3s;
	white-space:nowrap; 
}

.btn-bilibili {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	cursor: pointer;
	background-image: url("../img/icon/bilibili.svg");
	background-color: #111;
	background-size: 32px auto;
	background-repeat:no-repeat;
	background-color:transparent;
}

.btn-cloudmusic {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	cursor: pointer;
	background-image: url("../img/icon/cloudmusic.svg");
	background-color: #111;
	background-size: 32px auto;
	background-repeat:no-repeat;
	background-color:transparent;
}

.btn-qqmusic {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	cursor: pointer;
	background-image: url("../img/icon/qqmusic.svg");
	background-color: #111;
	background-size: 32px auto;
	background-repeat:no-repeat;
	background-color:transparent;
}

.btn-weibo {
	border: none;
	color: white;
	margin-right: 5px;
	margin-top: -2px;
	padding: 16px 16px 16px 16px;
	cursor: pointer;
	background-image: url("../img/icon/weibo.svg");
	background-color: #111;
	background-size: 32px auto;
	background-repeat:no-repeat;
	background-color:transparent;
}

/*顶部栏选择器*/
.topnav {
    height: 0;
    width: 100%; 
    z-index: 1000;
    top: 0;
    left: 0;
	position: fixed;
	overflow: hidden;
	background-color: #111;
	transition: 0.5s; 
}

.topnav img {
	height: 50px;
	padding: 10px 10px 10px 32px;
	float: left;
	transition: 0.3s;
}

.topnav a {
	padding: 22px 8px 22px 32px;
	text-decoration: none;
	font-size: 20px;
    float: left;
    display: block;
    color: #818181;
}

.topnav a:hover,.nav a:focus, .offcanvas a:focus{
    color: #f1f1f1;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	font-size: 30px;
	padding: 15px 32px 15px 32px;
  }
}

/* 当用户点击图标时，“responsive”响应类被添加到带有 JavaScript 的 topnav 中。 此类使 topnav 在小屏幕上看起来不错（垂直显示链接而不是水平显示链接）*/
@media screen and (max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.active {
    color: #fff;
    font-weight: bold;
}

/*主体内容*/
#main {
	min-width: 350px;
	height: 680px;
	padding: 16px;
	background-color: #f7f7f7;
    position: relative;
	overflow-x: hidden;
	margin-left: 300px;
    transition: margin-left 0.5s ,margin-top 0.5s;
}

.page-title {
	font-weight: 700;
    text-align: left; 
    line-height: 0.024rem;
    margin-bottom: 0.68267rem;
    margin-top: 3.56rem;
    margin-left: 45px;
}

.page-title p:first-child {
	font-size: 3.024rem;
    padding-top: .34133rem;
    color: #18191c;
    letter-spacing: 0;
    font-weight: 600;
    text-shadow: 0 0.34133rem 0.34133rem rgba(8, 8, 8, 0.3);
}

.page-title p:last-child {
	font-size: 2.024rem;
    padding: .08533rem 0 .256rem;
    letter-spacing: .08533rem;
    color: #e3e5e7;
    font-family: DIN Alternate,sans-serif;
}

.page-box{
	max-width: 1200px;
	width: calc(100% - 100px);
	margin: auto 45px;
}
 
/*当文档高度小于800px时，改变padding属性和字体大小*/
@media screen and (max-width: 1200px) {
    .sidenav {
		width: 0;
    }
	.topnav {
		height: 70px;
	}
	#main {
		margin-left: 0;
		margin-top: 70px;
	}
}


